@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <h2>Manejar socios</h2>
        <p>
            Crea, verifica y edita los socios dentro de esta opcion
        </p>
        <p><a class="btn btn-primary" href="~/Socios/Index">Ir a socios &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Verifica usuarios</h2>
        <p>Crea y verifica los usuarios existentes del sitio </p>
        <p><a class="btn btn-primary" href="~/Administrador/Index">Ir a usuarios &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Inicia sesion</h2>
        <p>Ingresa a la plataforma para hacer uso de los modulos</p>
        <p><a class="btn btn-primary" href="~/Home/Login">Inicia sesion &raquo;</a></p>
    </div>
</div>